@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans';
  font-size: 16px;
}

.main {
  display: flex;
}

.todo-list {
  flex-grow: 5;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;  
}

.todo-item {
  flex-shrink: 0;
  position: relative;
  margin: 2em;
  padding: 1em;
  background: #ddddff;  
  line-height: 1.8em;
}

h3 {
  font-size: 1.2em;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  font-size: 1.6em;
  font-weight: bold;
  color: #aa0000;
  background: transparent;
  cursor: pointer;
}

.add-item, .todo-filter {
  max-width: 20em;
  margin: 2em;
  padding: 1em;
  background: #ddddff; 
}

.todo-filter {
  flex: 1 0 auto;
}

input, .add-btn, .update-btn {
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: 0.2em 0.6em;
  line-height: 1.8em;
  font-size: 1.1em;
}

.add-item .add-btn, .update-btn {
  margin-bottom:  1em;
  color: #eee;
  cursor: pointer;
}

.add-btn {
  background: #00aa00;
}

.update-btn {
  background: #ddaa00;
}

.error-msg {
  color: #aa0000;
}